html,
body {
  font-size: 14px;
  font-family: "Montserrat", "Arial";
  line-height: 1.4;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
}



h1 {
  font-size: 2rem;
  margin: 1rem auto;
  text-align: center;
}

h2 {
  font-size: 1.2rem;
  margin: 1rem auto 0.5rem auto;
}

.main-container {
  //padding-top: 2rem;
  padding-bottom: 5rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

   
.container-bis {
  width: 100%;
  padding:0px;
}
