.h1-inscription{

    margin-bottom: 0;
    font-size: 300%;
    margin-right: 18%;
    color: white;
    font-family: sans-serif;
  }  
  .title {
    position: relative;
  }
  .title:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #3d5805;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }
  .title:hover:before{
     visibility: visible;
    transform: scaleX(1);
  }
  h3{
      font-weight: normal;
      display: flex;
      justify-content: center;
  }
  h4{
      font-weight: normal;
      font-size: 23px;
      font-family: Earth Orbiter;
      color: white;
      align-items: center;
      
  }
  
  p{
      color: white;
      font-family: sans-serif;
      text-align: center;
      text-decoration: none;
     
  }
  form{
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 40%;
      height: 40%;
      margin-left: 25%;
  
  }
  .field{
   
    margin-bottom: 2%;
  }
  
  fieldset{
    position: relative;
    left: 14%;
    margin: auto;
    width: 100%;
    
  }

  .field__input{
    
    width: 100%;
    height: 50px;
    
    font-size: 130%;
    
    
  }

  .field__input_image {
   // margin-left: 30%;
    width: 100%;
    height: 50px;
    padding-left: 3%;
  }

  .field__label{
      color: white;
      font-family: sans-serif;
      padding-left: 3%;
      padding-bottom: 5%;
      font-size: 20px;
      
  }
  
  .field__label__mail{
    margin-right: 2%;
    margin-bottom: 6%;
    color: rgb(255, 255, 255);
    font-family:sans-serif;
  }
  
  .field__label__password{
    margin-right: 4%;
    margin-bottom: 6%;
    color: rgb(255, 255, 255);
    font-family:sans-serif;
  }
  .button-createTournement{
    border-radius: 4px;
    width: 105%;
    margin-left: 0%;
    margin-bottom: 50%;
    height: 50px;
    background-color:#d2f50b;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 150%;
    font-weight: bolder;
    margin-top: 5%;
    
  }
  
  .button-register:hover{
    border-radius: 7px;
    width: 105%;
    background-color: #070707;
    color: white;
    font-weight: bolder;
    height: 50px;
    border: solid 1px  #d2f50b;
    
  }