@font-face {
    font-family: nazalization;
    src: url(../assets/fonts/nasalization-rg.ttf);
}

@font-face {
    font-family: Earth Orbiter;
    src: url(../assets/fonts/earthorbiter.ttf);
}
/* 
@font-face {
    font-family: "Montserrat";
    // Attention, le chemin est à calculer à partir de l'import d'origine du premier fichier scss de l'application (ici c'est App.vue)
    src: url("./assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat Black";
    src: url("./assets/fonts/Montserrat-Black.ttf");
}

@font-face {
    font-family: "Montserrat Bold";
    src: url("./assets/fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Montserrat Italic";
    src: url("./assets/fonts/Montserrat-Italic.ttf");
} */
