

.footer{
   
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin: auto;
    bottom: 0em;
    background-color: rgb(0, 0, 0);
    width: 100%;
    color: white;
   
}

.footer-li {
    
    color: white;
}

ul {
    list-style:none;
}

.col{
    display: inline;
    
}

.text-social{
    margin-right: 2%;
}

.social-networks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-left: 10%;
}

.social-icons{
    width: 30%;
}

