
 html{
   width: 80%;
   margin: auto;
   background-color: black;
 }
  
  body {
    width: 100%;
    background: #3C5A14;
    
  }
  .progress{
    padding-right: 10px;
    font-size: 1rem;
  }
  .avatar {
    vertical-align: middle;
    display: inline-block;
    height: 4rem;
    width: 9rem;
    border-radius: 3px;
  }
  
  .ogame-header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 100%;
    //align-items: center;
    //padding: 1rem 2.5rem;
    background: rgb(0, 0, 0);
    z-index: 2;
  }
  
  .logo {
    font-size: 34px;
    line-height: 50px;
    margin-left: 2%;
    text-align: center;
    text-decoration: none;
    color: white;
  }
  
  ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  ul:hover li:not(:hover) a {
    opacity: 0.2;
  }

  ul li {
    position: relative;
    padding: 30px 25px 30px 25px;
    cursor: pointer;
  }
  
  ul li::after {
    position: absolute;
    content: "";
    top: 80%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #3C5A14;
    transform: scaleX(0);
    transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  ul li:hover::after, ul li.active::after {
    transform: scaleX(1);
  }
  ul li a {
    position: relative;
    display: flex;
    color: white;
    font-family: Lato, sans-serif;
    text-decoration: none;
    transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  .register-button:hover {
    text-shadow: 1px 1px 2px rgb(236, 235, 236), 0 0 1em rgb(214, 214, 226), 0 0 0.2em rgb(190, 190, 212);
    font-weight: bolder;
  }
  .login-button:hover {
    text-shadow: 1px 1px 2px rgb(236, 235, 236), 0 0 1em rgb(214, 214, 226), 0 0 0.2em rgb(190, 190, 212);
    font-weight: bolder;
  }
  
  .login-button {
    font-family: Lato, sans-serif;
    font-size: 100%;
    border-radius: 1em;
    padding: 2%;
  }

  .register-button {
    font-family: Lato, sans-serif;
    font-size: 100%;
    border-radius: 1em;
    padding: 2%;
  }

  .logo-container {
    //size: 30rem;
    display: flex;
    width: 100%;
    height: 20%;
    margin-right: 40% ;
    //padding-left: 5%;
    justify-content: space-between;
    flex-flow: nowrap;
    background-color: black;
    z-index: 2;
  }
  
  .logo {
    font-family: Earth Orbiter;
    //position: relative;
    font-weight: bolder;
    left: 0%;
    //width: 40%;
    font-size: 180%;
  }
  .logo-user {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
  }
  .user-login {
    display: flex;
    justify-content: flex-end;
    margin-right: 2%;
    
  }

  a{
    color: white;
    font-size: 19px;
  }