@font-face {
  font-family: nazalization;
  src: url(../assets/fonts/nasalization-rg.ttf);
}

.container {
    width: 100%;
    margin: auto;
    margin-top: 3%;
    position: relative;
    background: linear-gradient( black, #3C5A14);
  }
  .container-bis {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 80%;
    background: black;
  }


div {
    position: relative;
  }
  
  h1 {
    font-weight: normal;
    font-size: xx-large;
    font-family: sans-serif;
    color: white;
    text-align: center;
    
  }
  
  .title-figure {
    position: relative;
    font-family: nazalization;
    text-align: center;
    margin-left: 2%;
  }
  
  .title:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #3d5805;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }
  .title:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
  
  .h3-home {
    font-weight: normal;
    display: flex;
    justify-content: center;
    color: white;
    font-family: sans-serif;
  }

  .h3-home:hover {
    color: #d2f50b;
  }
  h4 {
    font-weight: normal;
    font-size: 23px;
    font-family: Earth Orbiter;
    color: white;
    align-items: center;
  }
  
  h4:hover {
    text-shadow: 1px 1px 2px #3d5805, 0 0 1em #3d5805, 0 0 0.2em #3d5805;
  }
  p {
    color: white;
    font-family: sans-serif;
    text-align: center;
  }
  
  .welcome-text {
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
  //start three box
  @import url("https://fonts.googleapis.com/css?family=Playfair+Display");
  @import url("https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro");
  
  $card-size: 100%;
  $image-size: 120%;
  $image-height: 150px;
  
  .card {
    width: 30%;
    height: 40%;
    margin: auto;
    
    height: 15%;
    background: linear-gradient( black 60%, #11270B, #3C5A14);
    box-shadow: 0px 5px 20px #555;
  
    a {
      color: #333;
      text-decoration: none;
    }
  
    &:hover {
      .card-image {
        img {
          width: $image-size + 10%;
          filter: grayscale(0);
        }
      }
    }
  }
  
  .card-image {
    height: 30vh;
    overflow: hidden;
  
    img {
      width: $image-size;
      position: absolute;
      top: 67%;
      left: 50%;
      transform: translate(-50%, -50%);
      filter: grayscale(1);
      transition-property: filter width;
      transition-duration: 0.3s;
    }
  }

  .trophy {
    filter: invert(1);
    padding-bottom: 3%;
  }

  .icon-twitch{
    width: 33%;
    padding-bottom: 2%;
    filter: invert(1);
  }

  .img-news{
    filter: invert(1);
    padding-bottom: 3%;
  }
  
  .card-body {
    text-align: center;
    //padding: 15px 20px;
    //box-sizing: border-box;
  }
  
  .card-date {
    font-family: "Source Sans Pro", sans-serif;
  }
  
  .card-title,
  .card-exceprt {
    font-family: sans-serif;
    color: white;
    
  }
  
  .card-date,
  .card-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .card-date,
  .card-excerpt {
    color: #777;
  }
  
  .three-card {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
    margin-top: 2%;
  }
  
  .text-card-home {
    color: rgb(143, 143, 143);
    font-family:sans-serif ;
    font-size: 3vh;
    font-weight: bolder;
  }
  
  
  
  
  //end three block
  
  //start next tournament
  
  .container-next-tournament {
    margin: auto;
  }
  
  .article {
    width: 70%;
    margin: auto;
    margin-bottom: 5%;
    background-color: black;
    color: black;
    
  }
  
  
  .next-tournament {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
  }
  //end next tournament
  .past-tournament {
    display: flex;
    justify-content: space-between;
    margin: auto;
    //margin-top: 2%;
    margin-bottom: 7%;
    width: 73%;
    height: 56%;
    background-color: black;
    border: solid 5px;
    border-radius: 1em;
    //box-shadow: 5px 5px 5px rgb(5, 5, 5);
  }
  .logo-team-one {
    position: relative;
    right: -13%;
    width: 6rem;
    margin: auto;
    margin-right: 2em;
    margin-top: 1rem;
    border-radius: 1rem;
  }
  .vs {
    position: relative;
    top: 3rem;
  }
  .logo-team-two {
    position: relative;
    right: 1%;
    width: 6rem;
    margin: auto;
    margin-left: 1em;
    margin-top: 1rem;
    border-radius: 1rem;
  }
  .text-past-tournament {
    position: relative;
    top: 1rem;
    padding-right: 6%;
    right: -5%;
    text-align: center;
  }
  .p-past-tournament {
    text-transform: uppercase;
  }
  .img-winner {
    width: 4rem;
    position: absolute;
    top: 25px;
    left: 30px;
    z-index: 2;
    transform: rotate(-20deg);
  }
  .logo-stream-past-tournament {
    position: relative;
    right: 1rem;
    top: 1rem;
  }
  
  .article {
    font-family: sans-serif;
    font-size: medium;
    color: black;
    padding: 1em;
    text-decoration: none;
  }

  .article a {
    text-decoration: none;
  }
  
  .filter-list__title {
    display: none;
  }
  
  .filter__label {
    display: none;
  }
  
  