.article{
    //margin-top: 10%;
    background-color: black;
    margin-bottom: 5%;
  }
  
  h2{
    font-family:sans-serif;
  }
  
  p{
    text-align: center;
    text-decoration: none;
  }

  a {
    text-decoration: none;
  }
