.text {
    width: 68%;
    margin: 10px auto 0 auto;
    font-family: 'Roboto', sans-serif;
    color: rgb(252, 249, 249);
    font-size: 18px;
    line-height: 28px;
    margin-top: 8px;
    h2 ,h3 {
      font-size: 30px;
      padding: 20px 0 10px ;
      border-bottom: 1px solid #d2f50b;
      margin-bottom: 10px;

    }
    h2 {
      font-size: 30px;
      line-height: 42px;
      padding-left: 22%
    }
    h3 {
      font-size: 24px;
      line-height: 34px;
      
    }
    .countdown {
      padding-left: 0%;
    }
    .jaquette {
      padding: 30px 25px 25px;
     text-align: left;
     margin-bottom: 8%;
     margin-top: 8%
    }
    .jaquette-jeux{
        width: 40%;
       //float: left;
       margin: auto;
       padding-right: 12%;
       padding-top: 12%;
    }

    .div-jaquette-jeux{
        width: 50%;
    }

    .button-inscription-tournoi{
        display: flex;
        align-content: center;
        width: 40%;
    }

    .img-button-inscription-tournoi{
        width: 60%;
        margin: auto;
        margin-left: 89%;
        margin-bottom: 10%;
        
    }

    .li-tournois{
      color: white;
    }
  }

  .xHolder {
    padding-top: .4rem;
    color: #EF5753;
    font-size: 2rem;
    transition-duration: .5s;
}

.xHolder i:hover {
    transition-duration: .5s;
    color: red;
    transform: rotate(90deg);
    font-size: 2.5rem;
    cursor: pointer;
}
  
  @media only screen and (max-width:1000px) {
    .menu_icon {
      left: 60px;
    }
    .menu {
    position: relative;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 0px;
    padding-top: 0;
    padding-left: 80px;
    &:after {
      display: none;
    }
      &:hover {
        .menu_icon {
            left:60px;
          }
      }
    }
    li {
      float: left;
      margin: 0 20px;
      a {
        padding: 0 10px;
        text-decoration: none;
      }
    }
  }
  
  .jaquette-jeux {
      width: 30%;
      float: left;
      
  }

  .text-regles-tournoi{
      display: list-item;
  }

  .Block-inscriptions {
    border: solid 2px white;
    background-image: url(../assets/images/piqsels.com-id-jseut.jpg);
    background-repeat: no-repeat;
    width: 70%;
    margin: auto;
    background-size: cover;
    margin-bottom: 15%; 
  }

  .add-players {
   margin-left: 20%;
   
  }

  .block-inscriptions-bis {
    margin: auto;
    width: 50%;
    background-color: rgba(54, 53, 53, 0.7);
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .compt {

    padding-left: 25%;
  }